*{
  font-family: 'Lato', sans-serif;
}
.contenedor_grande{
    height: 500px;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: burlywood;
    z-index: 1;
}

img{
    height: 400px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
}

.contenedor_textos{
    height: 100px;
    width: 100%;
    background-color: burlywood;
    z-index: 2;
}

.titulo{
    height: 30%;
    width: 100%;
    display: block;
}

#titulo_letra{
    font-size: 35px;
    padding-left: 5%;
}

.nombre{
    height: 70%;
    width: 100%;
    display: block;
    padding-top: 2%;
}

#nombres{
    font-size: 30px;
    padding-left: 5%;
}

.shuffle{
   height: 70px;
   width: 70px;  
   border: 0.1px;
   border-color: rgb(194, 0, 0); 
   border-style: solid;
   border-radius: 50%;
   background-color: rgb(194, 0, 0);
   z-index: 3;
   margin-left: 75%;
   top: 45%;
   color: white;
   position: absolute;
   display: grid;
   place-content: center;
}

#icon_shuffle{
    font-size: 50px;
}

.contenedor_barra{
    padding-left: 56%;
    z-index: 3;
    position: fixed;
    color: white;
}

#hora{
    font-size: 24px;
}

.contenedor_reproduccion{
    margin-top: 25px;
    z-index: 3;
    position: fixed;
    color: white;
}

#icon_close{
    font-size: 30px;
    padding-top: 2%;
}

#reproduciendo{
    font-size: 25px;
}