*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#navegador{
    height: 45px;
    width: 100%;
    background-color: rgb(211, 218, 226);
    padding-left: 20%;
    padding-right: 20%;
}
p{
    display: inline;
    position: absolute;
    padding-top: 12px;
}

#ucsc{
    height: 170px;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}
#logoucsc{
    height: 100px;
    width: 300px;
    padding-top: 30px;
}
h1{
    font-size: 36px;
    color: rgb(202, 13, 13);
    display: inline;
    position: absolute;
    padding-left: 50px;
    padding-top: 60px;
}
#opciones{
    height: 50px;
    width: 100%;
    padding-left: 22%;    
}
a{
    text-decoration:none;
    color: black;
    padding-right: 15px;
}
#imagenes{
    height: 500px;
    width: 100%;
    background-color: rgb(211, 218, 226);
}
#img1{
    height: 50%;
    width: 100%;
    display: inline-block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 25px;
}
.imgs1{
    height: 200px;
    width: 360px;
    padding-left: 20px;
}
#img2{
    height: 50%;
    width: 100%;
    display: inline-block;
    padding-left: 20%;
    padding-right: 20%;
}
.imgs2{
    height: 200px;
    width: 360px;
    padding-left: 20px;
}
#foter1{
    padding-left: 20%;
}